name: Test
on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.os }}, Node.js ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # Oldest supported LTS version through current LTS
        node-version: [20.x, 22.x, 24.x, 26.x]
        os: [macos-latest, macos-15-intel, windows-latest, ubuntu-latest]
      fail-fast: false

    steps:
      - name: Configure git
        run: git config --global core.autocrlf false

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          persist-credentials: false

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      # Newer versions of Java can't build the old-Selenium-compatible jar
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 11

      - name: Install deps
        shell: bash
        run: |
          # Install root level, shared dependencies, which are necessary for
          # eslint.
          npm ci

          for i in base backends/*; do
            # Install dependencies for each module.
            npm --prefix "$i" ci
          done

      - name: Build Selenium DriverProvider JAR
        run: cd base && npm run jar

      - name: Test all packages
        shell: bash
        run: |
          for i in base backends/*; do
            npm --prefix "$i" test
          done
